<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Drop shipping Dashboard Page</h4>
      </div>
    </div>
    <!--row -->
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">NEW CLIENTS</h3>
            <ul class="list-inline two-part">
              <li><i class="icon-people text-info"></i></li>
              <li class="text-right"><span class="counter">23</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">NEW Projects</h3>
            <ul class="list-inline two-part">
              <li><i class="icon-folder text-purple"></i></li>
              <li class="text-right"><span class="counter">169</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">Open Projects</h3>
            <ul class="list-inline two-part">
              <li><i class="icon-folder-alt text-danger"></i></li>
              <li class="text-right"><span class="counter">311</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title">NEW Invoices</h3>
            <ul class="list-inline two-part">
              <li><i class="ti-wallet text-success"></i></li>
              <li class="text-right"><span class="counter">117</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="news-slide m-b-15">
          <div class="vcarousel slide">
            <!-- Carousel items -->
            <div class="white-box over-flow">
              <p id="p1"><%= @str='<form action="https://dropshipping1.herokuapp.com/vendors_dashboard/customer_issues" method="post">
		 <input type="hidden" id="vendor_id" name="vendor_id" ' + "value=#{current_vendor.id}>"+'
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 5px; display: block;">First Name</label>
			<input type="text" name="first_name" placeholder="First name" style="height: 35px; border: #ccc 1px solid; padding-left: 10px; padding-right: 10px; width: 100%; box-sizing: border-box;">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block;">Last Name</label>
			<input type="text" name="last_name" placeholder="Last name" style="height: 35px; border: #ccc 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box;">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block;">Order No</label>
			<input type="text" name="order_number" placeholder="Order No" style="height: 35px; border: #ccc 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box;">
		</div>
		<div style="margin-bottom: 15px;">
			<label style="margin-bottom: 10px; display: block;">Description of Issue</label>
			<textarea name="description" placeholder="Description of Issue" style="height: 100px; border: #ccc 1px solid; padding-left: 10px; padding-right: 10px; width: 100%;box-sizing: border-box; resize: none;"></textarea>
		</div>
		<div style="margin-bottom: 15px;">
			<input type="submit" name="submit" value="Submit" style=" background-color: #000000; color: #fff; border: none; height: 35px; line-height: 35px; padding-left: 20px; padding-right: 20px; cursor: pointer;">
		</div>
	</form>' %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="copyToClipboard('#p1')" class="btn btn-default " id="copybutton">Copy Textarea</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Left sidebar -->
      <div class="col-md-12">
        <div class="white-box">
          <div class="row">
            <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 inbox-panel">

              <div class="list-group mail-list m-t-20">
                Todays Disputes
                <% @issues.each do |issue| %>
                    <%= link_to "#{truncate(issue.description,:length => 10, :separator => ' ')}",vendors_dashboard_path(issue),class:"list-group-item active" %><br>
                <% end %>
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 mail_listing">
              <div class="media m-b-30 p-t-20">
                <h4 class="font-bold m-t-0">Your message title goes here</h4>
                <hr>
              </div>
              <div class="container">
                <p>Hello. How are you today?</p>
                <span class="time-right">11:00</span>
              </div>

              <div class="container darker">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
              </div>

              <div class="container">
                <p>Sweet! So, what do you wanna do today?</p>
                <span class="time-right">11:02</span>
              </div>

              <div class="container darker">
                <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
                <span class="time-left">11:05</span>
              </div>
              <hr>
              <hr>
              <div class="b-all p-20">
                <p class="p-b-20"> <a href="#" class="btn btn-default">Refund Preset</a> <a href="#" class="btn btn-default"> Tracking Preset</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>



<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).focus();
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }


</script>