<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
    <div class="top-left-part"><a class="logo" ><b><!--This is dark logo icon--><!--This is light logo icon--></b><span class="hidden-xs"><!--This is dark logo text-->Drop Shipping<!--This is light logo text--></span></a></div>
    <ul class="nav navbar-top-links navbar-left hidden-xs">
      <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
      <li>
        <form role="search" class="app-search hidden-xs">
          <input type="text" placeholder="Search..." class="form-control">
          <a href=""><i class="fa fa-search"></i></a>
        </form>
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right pull-right">
      <li class="mega-dropdown">
        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><span class="hidden-xs"><%= current_vendor.email  %></span> <i class="icon-options-vertical"></i></a>
      </li>

    </ul>
  </div>

</nav>
